@model IEnumerable<Bangladino.Models.Task>

@{
    ViewData["Title"] = "Casa";
}

<h1>Lista delle note presenti nel DB</h1>

<p>
    <a asp-action="Create">Crea una nuova nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Testo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Testo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Cancella</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Visualizzazione dettagliata</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
